### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

# Svn
.svn

# Log
.log
*.log
**/*.log

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
orange.iml
*.iws
metastore_db/

# Mac
.DS_Store

# Maven
log/
*/target/
target/
/.idea
*.iml
